input[type="file"]::file-selector-button {
	background-color: #4e73df;
	border: none;
	font-size: 0.8rem;
	border-radius: 10rem;
	padding: 0.75rem 1rem;
	cursor: pointer;
	position: relative;
	top: 0;
}

input[type="file"]::file-selector-button:hover {
	background-color: #81ecec;
	border: 2px solid #00cec9;
	cursor: pointer;
}

.profile-user {
	display: flex;
}

@media screen and (max-width: 920px) {
	.profile-user {
		display: none;
	}
}
